---
---
@import "main";

.chart-container {
    border-radius: 2%;
    background-color: #292a3e;
    height: 40vh;
    width: 40vw;
}

.charts {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
